@import "bootstrap/variables";
@import "bootstrap/mixins/vendor-prefixes";

/* Fix SB Admin content overflow bug */
html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

@media(min-width:768px) {
    #page-wrapper {
        position: relative;
        min-height: 100%;
    }
}

/* Fix bootstrap button height bug */
.btn {
    height: $input-height-base;
}

/* Graph */
#graph-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.node {
    fill: $brand-primary;
    stroke: #fff;
    stroke-width: 1.5px;
    @include transition(fill 1s);

    &.root {
        fill: #cc0000;
        @include transition(fill 1s);
    }

    text {
        fill: #fff;
        stroke-width: 0;
        font-family: $font-family-base;
        font-size: $font-size-base;
        font-weight: bold;
        text-anchor: middle;
        alignment-baseline: middle;
        text-shadow: 0 0 8px black;
    }
}

.link {
    stroke: $gray-light;
    stroke-width: 1px;
}
